/* BEGIN reset.css */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END reset.css */


body {
  background-color: #404040;
  color: #eee;
  font-family: 'FreeUniversal', sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h2 {
  font-size: 2em;
  padding-bottom: 0.5em;
}

dt {
  float:left;
  clear: left;
}

dt:after {
  content: ": ";
  margin-right: 0.5em;
}

dd {
  float: left;
}


#container {
  position: relative;
}

#switches {
  position: absolute;
  top: 0;
  left: 320px;
  padding-top: 10px;
  height: 30px;
}

#switches li {
  float: left;
  margin-right: 2em;
}

#score {
  font-size: 3em;
}

#sidebar {
  position: absolute;
  top: 40px;
  left: 0;
  padding: 0 20px 0 20px;
  width: 280px;
  height: 460px;
}

#borough {
  border-top: 1px solid #606060;
  padding-top: 0.5em;
}

#borough h2 {
  font-size: 1.8em;
  line-height: 1.2em;
  margin-bottom: 0;
}

#histogram {
  height: 150px;
  overflow: hidden;
  margin-top: 1em;
  margin-bottom: 0;
}

#score {
  margin-bottom: 1em;
}

#score h2 {
  font-size: 1.8em;
  margin-bottom: 0;
}
#score h3 {
  font-size: 0.8em;
  margin-bottom: 2em;
  font-weight: normal;
}
#borough dt {
  font-size: 0.8em;
  margin-bottom: 2em;
  font-weight: normal;
}
#borough dd {
  float: right;
  position: relative;
  bottom: 10px;
  right: 10px;
}
#borough .number {
  font-size: 2.5em;
}
#logo {
	position: absolute;
	top: 490px;
	width: inherit;
	text-align: center;
}
text {
	color: white;
}
.logoimg {
	width: 200px;
}

#map {
  position: absolute;
  top: 40px;
  right: 0px;
  bottom: 0px;
}
#datasets {
  position: relative;
  top: 420px;
  left: 480px;
}

#legend {
  padding: 6px 8px;
  background: rgba(64,64,64,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  float: left;
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin: 0px 10px 0 0;
  width: 22em;
  height: 5em;
}

#legend i {
	width: 12px;
	height: 12px;
  	float: left;
	opacity: 1;
}

#legend h3 {
	font-weight: normal;
	font-size: 1.4em;
}
#legend #station_legend {
	text-align: center;
	margin-bottom: 0.5em;
}
#legend #risk_key {
	position: relative;
	height: 15px;
	left: 20px;
}
#legend .fast {
	position: relative;
}
#legend .slow {
	position: relative;
	float: right;
}
#legend .station_icon {
	width: 17px;
	height: 17px;
	position: relative;
	top: 4px;
}
#legend ol {
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
}

#legend li {
  float: left;
  margin-right: 1em;
}

#info {
  padding: 6px 8px;
  background: rgba(64,64,64,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  float: right;
  position: relative;
  margin: 0px 10px 0 0;
}

.leaflet-container .leaflet-control-attribution {
  padding: 3px 4px;
  background: rgba(64,64,64,0.8) !important;
  box-shadow: 0 0 15px rgba(0,0,0,0.2) !important;
  border-radius: 5px 0 0 0;
  color: #eee;
}

 a {
  color: #eee;
}

 a.close {
  font-size: 0.8em;
 }

  .leaflet-container .leaflet-control-zoom-in, .leaflet-container .leaflet-control-zoom-out {
  background-color: #404040 !important;
  color: #eee;
}

.leaflet-container .leaflet-control-zoom-in:hover, .leaflet-container .leaflet-control-zoom-out:hover {
  background-color: #606060 !important;
  color: #eee;
}

.clear {
  clear: left;
}

.clear.right {
  clear: right;
}

.clear.both, .clear.left.right {
  clear: both;
}
.country {
  fill: #ccc;
  stroke: #666;
  stroke-width: .1px;
  stroke-linejoin: round;
}
