/* BEGIN reset.css */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END reset.css */


body {
  background-color: white;
  color: #111;
  font-family: 'FreeUniversal', sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h2 {
  font-size: 2em;
  padding-bottom: 0.5em;
}
#help {
	position: absolute;
	top: 4px;
	right: 10px;
	cursor: pointer;
}
#code {
	position: absolute;
	top: 4px;
	right: 48px;
}
#year {
	border: 2px solid #111;
	background-color: #fff;
	color: #111;
	font-size: 1.5em;
	border-radius: 8px;
	position: absolute;
	right: 90px;
	top: 2px;
}
#arrow {
	font-size: 1.4em;
	position: relative;
	right: 32px;
	bottom: 18px;
}
#movement {
	position: relative;
	right: 38px;
	bottom: 18px;
	font-size: 1.2em;
}
#warning {
	position: absolute;
	font-size: 1.3em;
	left: 10px;
	top: 5px;
}
#helpBox {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 98%;
	height: 520px;
	background-color: #ccc;
	border-radius: 10px;
	border: 1px solid #ddd;
	margin: 1em;
	display: none;
	overflow-x: none;
	overflow-y: auto;
}
#closeHelp {
	position: absolute;
	right: 20px;
	top: 8px;
}
#container {
  position: relative;
}

#score {
  font-size: 3em;
}

#sidebar {
  position: absolute;
  top: 40px;
  left: 0;
  padding: 0 20px 0 20px;
  width: 340px;
  height: 460px;
}

#income {
	font-size: 0.5em;
	position: relative;
	bottom: 1em;
}
#score {
  margin-bottom: 1em;
}

#logo {
	position: absolute;
	top: 478px;
	width: inherit;
	text-align: center;
	left: 10px;
}
#credit {
	font-size: 10px;
	position: absolute;
	top: 520px;
	left: 20px;
}
#credit a {
	color: #111;
	text-decoration: underline;
}
.logoimg {
	width: 150px;
}
#map {
  position: absolute;
  top: 40px;
  right: 0px;
  bottom: 0px;
}
#radar {
  position: relative;
  left: -20px;
}
#datasets-div {
  position: relative;
  top: 420px;
  left: 400px;
  width: 780px;
  height: 150px;
}
#dataset-labels {
  position: relative;
  width: inherit;
  height: 60px;
}
#datasets {
  position: relative;
  width: inherit;
  height: 60px;
  top: 15px;
  overflow: hidden;
}
#datasetsinner {
  position: relative;
  width: inherit;
  height: 180px;
  top: -65px;
}

#legend {
  padding: 6px 8px;
  background: rgba(64,64,64,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  float: left;
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin: 0px 10px 0 0;
  width: 22em;
  height: 5em;
}

#legend i {
	width: 12px;
	height: 12px;
  	float: left;
	opacity: 1;
}

#legend h3 {
	font-weight: normal;
	font-size: 1.4em;
}
#legend #station_legend {
	text-align: center;
	margin-bottom: 0.5em;
}
#legend #risk_key {
	position: relative;
	height: 15px;
	left: 20px;
}
#legend .fast {
	position: relative;
}
#legend .slow {
	position: relative;
	float: right;
}
#legend .station_icon {
	width: 17px;
	height: 17px;
	position: relative;
	top: 4px;
}
#legend ol {
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
}

#legend li {
  float: left;
  margin-right: 1em;
}

#info {
  padding: 6px 8px;
  background: rgba(64,64,64,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  float: right;
  position: relative;
  margin: 0px 10px 0 0;
}

.leaflet-container .leaflet-control-attribution {
  padding: 3px 4px;
  background: rgba(64,64,64,0.8) !important;
  box-shadow: 0 0 15px rgba(0,0,0,0.2) !important;
  border-radius: 5px 0 0 0;
  color: #eee;
}

 a {
  color: #eee;
}

 a.close {
  font-size: 0.8em;
 }

.clear {
  clear: left;
}

.clear.right {
  clear: right;
}

.clear.both, .clear.left.right {
  clear: both;
}
.country {
  fill: #ccc;
  stroke: #666;
  stroke-width: .1px;
  stroke-linejoin: round;
}
#datasets-nav-horizontal {
	height: 12px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-top: 1px solid white;
	width: 32px;
	position: absolute;
	left: 713px;
	top: 120px;
	z-index: 30;
	opacity: 0;
	cursor: pointer;
}
#nav-inner-horizontal {
	bottom: 10px;
	position: relative;
	left: 3px;
}
#datasets-nav-vertical {
	width: 12px;
	border-left: 1px solid white;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
	height: 32px;
	position: absolute;
	left: 760px;
	top: 90px;
	z-index:30;
	cursor: pointer;
	opacity: 0;
}
#nav-inner-vertical {
	transform: rotate(90deg);
	transform-origin: left top 0;
	-webkit-transform: rotate(90deg);
	-webkit-transform-origin: left top 0;
        -moz-transform: rotate(90deg);
	-moz-transform-origin: left top 0;
        -o-transform: rotate(90deg);
	-o-transform-origin: left top 0;
    	-ms-transform: rotate(90deg);
	-ms-transform-origin: left top 0;
	display: block;
	position: relative;
	left: 24px;
	top: 2px;
}
#player {
	width: 100%;
	position: absolute;
	top: 535px;
	display: none;
}
#player-up-down {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 170px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        text-align: center;
        border-top: 1px solid gray;
        border-right: 1px solid gray;
        border-left: 1px solid gray;
        border-radius: 5px;
}
#player-div {
	width: 90%;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	bottom: 2px;
	position: relative;
	height: 100px;
	background-color: rgba(32,32,32,0.8);
	text-align: center;
}
#storyElement {
	width: 180px;
	text-align: center;
	border: 1px solid white;
	height: 100px;
	margin-left: 5px;
	margin-right: 5px;
	display: inline-block;
	vertical-align: top;
	background-color: rgb(32,32,32);
}
#story_block {
	display: none;
	border: 1px solid white;
	border-radius: 5px;
	background-color: rgba(32,32,32,0.9);
	color: white;
	font-size: 1.4em;
	padding: 10px;
	position: absolute;
	top: 40px;
	left: 360px;
	width: 450px;
	height: 250px;
	z-index: 30;
}
#odb-score-span {
	position: absolute;
	left: 120px;
	font-size: 1.1em;
	top: 41px;
}
#odb-score-change {
	position: absolute;
	top: 56px;
	left: 160px;
	font-size: 1.1em;
}
